<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
    <h1>Welcome to {{ title }}!</h1>
</div>

<button (click)="insertCartridge()">Insert Cartridge</button>
<button (click)="startGame()">Start the game</button>
<button *ngIf="soundExist();" (click)="switchSound()">
    <div *ngIf="wtf.sound.mute; then thenBlock; else elseBlock"></div>
    <ng-template #thenBlock> Turn sound on</ng-template>
    <ng-template #elseBlock> Turn sound off</ng-template>
</button>

<router-outlet></router-outlet>
